<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>

<body>
    <!-- Navbar -->
    {{>navbar}}

    <!-- Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.svg" class="img-fluid">
                        </figure>
                    </div> 
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr">Mern Stack Developer</span>, And A <span class="text_clr">Student</span> At <span class="text_clr">IIT Guwahati</span>.</h1>
                        <a href="https://github.com/adarsh2350"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>
</html>